body {
    background-image: url(Bathome1.png); 
    background-size: cover;  
    background-repeat: no-repeat; 
}

body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px;
}

.logo img {
    width: 100px; 
    height: auto; 
}

.menu {
    list-style: none;
    margin: 40px;
    padding: 0;
}

.menu li {
    display: inline-block;
    margin-left: 20px; 
}

.menu li:first-child {
    margin-left: 0; 
}

.menu li a {
    text-decoration: none;
    color: #FFF;
    font-size: 16px;
}


.menu li a:hover {
    color: #007BFF;
    font-weight: bold;
}

main {
    text-align: center; 
    margin-top: 45px; 
    color: #FFF;
}

.button-container {
    display: flex;
    justify-content: center; 
    margin-top: 30px; 
}

aside {
    display: flex; 
    flex-direction: column; 
    align-items: flex-end; 
    margin-top: -230px; 
}

.logo-container img {
    margin-bottom: 30px; 
}

.icon-container {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 40px;
}

.text-container {
    display: flex; /* Utilise Flexbox pour aligner les éléments en colonnes */
    flex-direction: column; /* Aligne les éléments en colonnes */
    align-items: flex-start; /* Aligne les éléments à gauche */
    max-width: 600px; /* Définit la largeur maximale des éléments de texte */
    margin: 20px; 
    width: 50%; /* Définit la largeur du paragraphe à 50% de la largeur de la page */
    text-align: left; 
}

.text-container h2 {
    margin-bottom: 10px; /* Ajoute une marge en bas du titre */
}

.image-container {
    display: flex; 
    justify-content: space-between; 
    grid-template-columns: repeat(3, 1fr); /* Crée trois colonnes de largeur égale */
    gap: 10px; /* Ajoute une marge entre les figures */
    max-width: 2000px; 
    margin: 0 auto;
    flex: 0 0 calc(33.33% - 20px); 
}

.logonémésis {
    float: left;
    width: 100px; /* Ajustez la largeur du logo selon vos besoins */
    height: auto; /* Permet au logo de conserver son rapport hauteur/largeur */
    margin: 10px; /* Ajoute une marge autour du logo pour l'espacement */
}

.logobatman {
    float: right;
    width: 175px; /* Ajustez la largeur du logo selon vos besoins */
    height: auto; /* Permet au logo de conserver son rapport hauteur/largeur */
    margin: 10px; 
}

.text-container h2 {
    word-wrap: break-word;
}

p{
   
    margin: 20px; 
    
}

.logoderoulant{
    width: 100%;
}

.guillemets1{
    float: left;
    width: 100px; /* Ajustez la largeur du logo selon vos besoins */
    height: auto; /* Permet au logo de conserver son rapport hauteur/largeur */
    margin: 30px
}

.guillemets2{
    float: right;
    width: 100px; /* Ajustez la largeur du logo selon vos besoins */
    height: auto; /* Permet au logo de conserver son rapport hauteur/largeur */
    margin: 30px
}

/* Styles pour le pied de page */
footer {
    background-color: #000000;
    padding: 20px;
  }
  
  .footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
  }
  
  .footer-logo img {
    width: 50px; /* Ajustez la taille du logo du pied de page selon vos besoins */
  }
  
  .footer-text {
    flex: 1;
    text-align: center;
    color: #f0f0f0;
  }
  
  .footer-logos {
    display: flex;
    align-items: center;
  }
  
  .footer-logos img {
    width: 20px; /* Ajustez la taille des logos selon vos besoins */
    margin: 0 5px; /* Ajoute un espace entre les logos */
  }
  