body {
    background-image: url(Bathome1.png); 
    background-size: cover;  
    background-repeat: no-repeat; 
}

body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px;
}

.logo img {
    width: 100px; 
    height: auto; 
}

.menu {
    list-style: none;
    margin: 40px;
    padding: 0;
}

.menu li {
    display: inline-block;
    margin-left: 20px; 
}

.menu li:first-child {
    margin-left: 0; 
}

.menu li a {
    text-decoration: none;
    color: #FFF;
    font-size: 16px;
}


.menu li a:hover {
    color: #007BFF;
    font-weight: bold;
}

main {
    text-align: center; 
    margin-top: 45px; 
    color: #FFF;
}

.button-container {
    display: flex;
    justify-content: center; 
    margin-top: 30px; 
}

aside {
    display: flex; 
    flex-direction: column; 
    align-items: flex-end; 
    margin-top: -230px; 
}

.logo-container img {
    margin-bottom: 30px; 
}

.icon-container {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 40px;
}

h2 {
    display: flex; 
    justify-content: left; 
    align-items: left;
    margin: 0px;
    color: rgb(178, 218, 218);
}